.vacancy_hero{
    margin-top: 50px;
    max-width: var(--width-basic);
    margin-bottom: 50px;
 }

.vacancies_section{ 
    margin-bottom: 15px;

}

.vacancy_subtitle{
    font-size: 12px;
}

@media screen and (min-width:765px){
    .vacancy_subtitle{
        font-size: 16px;
    }
}

.vacancy{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid var(--width-basic);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.vacancy_name_title{
    color: var(--dark-first);
}  

.vacancy_block_title{
    color: var(--dark-third);
    margin: 0;
}

.vacancy_department{
    margin-top: 5px;
    margin-bottom: 20px;

    font-size: 12px;
}

.vacancy_department_title{
    margin: 0;
    padding-bottom: 5px;
    font-weight: 500;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 12px;
}

@media screen and (min-width:765px){
    .card{
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

    }
}

@media screen and (min-width:1199px){
    .card, .vacancy_department{
        font-size: 16px;
    }

}

.vacancy_block{
    flex-basis: calc((100% - 60px) / 3);
    padding-top: 10px;
}

.vacancy_description{
    font-size: 12px;
    line-height: 1.8;
}

.vacancy_requirement_list{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.vacancy_requirement_item{
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 2px;
    margin-bottom: 3px;
}

.vacancy_connection{
    width: 100%;
}

.vacancy_connection-text{
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
    color: var(--dark-first);
}

.vacancy_connection-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 12px;

}

@media screen and (min-width:765px){
    .vacancy_connection-icons{
        justify-content: space-between; 
    } 

    .vacancy_requirement_item{
        margin-bottom: 10px;
    }
}

@media screen and (min-width:1199px){
    .vacancy_connection-text, .vacancy_connection-icons{
        font-size: 16px;
    }
}


.vacancy_connection_btn{
    border: none;
    background-color: transparent;
}

.vacancy_connection-form{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px;

    border-radius: 6px;
    border: 1px solid var(--light-second);

    color: var(--dark-third);
    /* color: var(--dark-first); */
}

.vacancy_socials__link{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px;

    border-radius: 6px;
    border: 1px solid var(--light-second);
    color: var(--dark-first);
}    

@media screen and (min-width:765px){
    .vacancy_socials__link, .vacancy_connection-form{
        width: 150px;
        height: 40px;
    }
}

.vacancy_connection-form:hover{
    background-color: rgb(103,58,183);
    color: var(--light-first);
}

.viber:hover{
    background-color: rgb(143, 93, 183);
    color: var(--light-first);
}

.telegram:hover{
    /* background-color: rgb(133,178,255); */
    background-color: rgb(0, 136, 204);
    color: var(--light-first);
}

.vacancy_connection-form:hover .vacancy_form__link, 
.viber:hover .vacancy_socials__icon,
.telegram:hover .vacancy_socials__icon{
    fill: var(--light-first);
}

.vacancy_form__link{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    fill: var(--dark-third);
}

.vacancy_socials-icons_list{
    display: flex;
    gap: 10px;
}

.vacancy_socials__icon{
    width: 29px;
    height: 29px;
    margin-right: 5px;
    fill: var(--dark-first)
}


/* .vacancy_socials__icon-phone{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    fill: var(--dark-first);
} */


/* --- Read more ---- */

/* .card .content{
    position: relative;
    height: 1px;
    overflow: hidden;
}

.card .more{
    color: var(--dark-third);
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;

}
.card .more:before{
    content: 'Детальніше';
}    

.card.check .content{
    height: auto;
}

.card.check .more{
    color: var(--dark-third);
}

.card.check .more:before{
    content: 'Згорнути';
} */
